body {
    padding: 0;
    margin: 0;
    background: rgb(177, 142, 142);
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  }
  
  /** Header styles **/
  .header {
    background-image: url(https://lh3.googleusercontent.com/W9QR3F6qLE1c40z5TQHhxOlyBQONlAq093Pxuty65dObwK8uuhWdMLqDQrj8301LgYJnmI4wcoVV-lbx27icrXHXVaZwMEY8Vn9zgFvWmkMwr7J_pK_d6klWN7JMnZrCcehjAUCdJo233UhxKIhxloU1MffU__aQbKoQRDGcU7Q2oAzUI1KdSLNCN-1ubmCBmQd-x_W0UhxtnMEncZK1ej6R1ebmafaZno4ndBnUJr9WFrr9_cRuu4MHLQXdA1LI3GfDAwuUcw9w6YXSEeZBG234jAxSG6KktFb2cX1txsLr8ZM7xFpUeSeQRZAn7lZFyI8OEyQq0dLaI9pfORaMt8QvxpB8N1_EwtWErquVvIbbsf9Hu7H_SqDBTPXSZZ1qEZF6oquZYfPbobYVJ2miY2uTCUUJ_-_1U0ouUBGoAxO55hWFfGka1IUTDX_-v58lwrCmldenvjl__iaFqMlACcjlBCdhl-6TvOZBdktwvpt-XW4WvmNwNm5sheM58Pr_3YSwnfhT4PNGTVXkhok1PAfMZ6VFXXyWYv3eSkwxJIO1XB3tx4FbmspSuPX3dEofOuCF3JaYFfs-MFIKmM0ZzNWeFlVMQxBS5-66sw=w1000-h1500-no);
    height: 600px;
    background-position: left;
  }
  
  .roasting {
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: #FFFFFFFFF;
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
  }
  
  .roasting p {
    color: rgb(14, 7, 1);
    text-align: center;
    line-height: 24px;
    font-family: 'Share', bold;
    font-size: 19px;
    font-weight: 400;
  }
  
  .spectrum div {
    font: inherit;
    padding: 0 20px;
    color: white;
    overflow: auto;
    opacity: 0.9;
  }
  
  .spectrum p {
    color: black;
    text-align: left;
  }
  
  /* Roast types */
  .green {
    background-color: DarkSeaGreen;
  }
  
  .light {
    background-color: teal;
  }
  
  .city {
    background-color: maroon;
  }
  
  /* Typography */
  h1 {
    color: white;
    font-family: 'Covered By Your Grace', sans-serif;
    font-size: 100px;
    line-height: 75px;
    margin: 0;
    position: relative;
    text-align: right;
    top: 85%;
  }
  
  h2 {
    color: brown;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }
  
  h3 {
    color: red;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
  
  h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: .2em;
  }
  
  h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    line-height: .2em;
    font-weight: 300;
  }

  .footer {
    color: black;
    line-height: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 100;
  }
  
  /* Page elements */
  ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
  }
  
  li {
    border-bottom: 1px solid #E4BB97;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
  }
  
  p {
    color: #444444;
    line-height: 32px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center
  }
  
  a {
    color: #214E34;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }
